.article__description {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  /* text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  height: auto;
}