/* Desktop-first - 1440px and more*/
.content__header{
  font-size: 48px;
  margin-top: 30px;
}


/* iPad Pro - no less than 1024 pixels, but not more than 1439.98px*/
@media screen and (min-width: 1024px) and (max-width: 1439.98px) {
  
}

/* iPad min - no less than 768 pixels, but not more than 1023.98px*/
@media screen and (min-width: 768px) and (max-width: 1023.98px) {

}

/* iPhone 11 - no less than 414 pixels, but not more than 767.98p—Ö*/
@media screen and (min-width: 414px) and (max-width: 767.98px) {
  .content__header{
    font-size: 32px;
  }
}

/* iPhone SE - no more than 413.98px*/
@media screen and (max-width: 413.98px) {
  .content__header{
    font-size: 24px;
    margin-top: 24px;
  }
}